body {
    /* background: #ccc;
    font-family: Arial, sans-serif; */
    /* margin: 0; */
    /* padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; */
  }

  
  
  .audio-player {
    display: none;
    /* text-align: center; */
  }
  
  audio {
    width: 100%;
    /* margin-top: 20px; */
  }
  
  .dictionary {
    /* background: pink; */
    margin: 0 auto;
  }

  .dictionary > div:first-child {
    background: #e30014;
    color: #ffffff;
  }

  .dictionary > div:nth-child(2) {
    background: #ffbcc2;
  }

  .dictionary > div:nth-child(3) {
    background: #ffffff;
    color: black;
  }
  .dictionary > div:nth-child(4) {
    background: #c4d8eb;
  }
  .img-cover {
    max-width: 100%;
    height: 1rem;
  }
  /*  <- 標註符號 */
  .mark-row{
    color: inherit;
    
  }
  .mark-row::after {
    content: ' ←';
    color: inherit;
  }

  /* 阻止文字超連結預設樣式 */
 .query-text {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}

.query-text:hover {
  text-decoration: none;
  color: inherit;
}

.col-12:has(.query-text):hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 13;
}
